<h1>Taylor's Workout Tracker</h1>

<a href="http://localhost:8080/">Home Page</a>
</br>
<a href="http://localhost:8080/insert?c=Demo+Task">Insert demo</a>
</br>
<a href="http://localhost:8080/reset-table/">Reset Table</a>

<h1>MySQL Results:</h1>
<p>{{results}}</p>

<table id="dataTable">
    <tr>
        <th>Name</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Date</th>
        <th>lbs?</th>
    </tr>
    {{#each rows}}
    <tr>
        <td>{{name}}</td>
        <td>{{reps}}</td>
        <td>{{weight}}</td>
        <td>{{moment date format="MM-DD-YYYY"}}</td>
        <td>{{lbs}}</td>
<!--        <td>
            <input type="button" value="Delete" onclick="deleteRow('dataTable', this)" />
	</td>-->
        <td>
            <form method="post">
                <!--<input type="hidden" name="id" value="{{this.id}}">-->
                <input type="submit" name="Delete2" value="Delete2">
            </form>
	</td>
    </tr>
    {{/each}}
</table>

<form method="post">
    <input type="submit" name="test" value="test">
</form>

{{{script}}}